/* Navbar styles */
nav {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a, nav form {
    color: white;
    text-decoration: none;
}

nav form {
    display: flex;
    align-items: center; /* Align form items vertically */
}

nav input[type="text"], nav input[type="submit"] {
    padding: 8px;
    margin-left: 5px;
}

nav input[type="text"] {
    border: none;
    background-color: #f0f0f0;
}

nav input[type="submit"] {
    background-color: #f5f5f5;
    border: none;
    cursor: pointer;
    color: black;
}


/* Improve responsiveness on smaller screens */
@media (max-width: 600px) {
    nav {
        flex-direction: column;
    }
    nav a, nav form {
        margin: 5px 0;
    }
}

/* Container styles */
.container {
    padding: 20px;
}

/* Movies grid styles */
.movies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}

/* Movie item styles */
.movie {
    position: relative;
    cursor: pointer;
}

/* Movie image styles for home page */
.movies .movie img {
    width: 100%;
    height: auto;
    display: block;
}

/* Movie card styles for movie details */
.movie-card {
    display: flex;
    background-color: #f9f9f9;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.movie-image {
    flex: 0 0 auto;
}

.movie-image img {
    width: 200px; /* Adjust the width as needed */
    height: auto;
}

.movie-details {
    flex: 1;
    padding: 20px;
}

.movie-details h1 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
}

.movie-details p {
    margin: 0 0 10px;
    font-size: 16px;
    color: #666;
}

.movie-details strong {
    color: #333;
}

/* Movie title styles */
.movie-title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s;
}

/* Movie title on hover styles */
.movie:hover .movie-title {
    opacity: 1;
}

/* Style for the buttons */
.button-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    margin-left: 10px; /* Adjust as needed */
}

.order-button {
    width: 30px; /* Adjust as needed */
    height: 30px; /* Adjust as needed */
    padding: 5px; /* Adjust as needed */
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* Adjustments for responsiveness */
@media (max-width: 600px) {
    .button-container {
        flex-direction: row;
    }
}

/* Director movie item styles */
.director-movie {
    display: inline-block; /* Set to inline-block */
    margin-right: 20px; /* Add some margin between movies */
    vertical-align: top; /* Align to the top of the line */
    cursor: pointer;
}

/* Director movie image styles */
.director-movie-image {
    width: 200px; /* Adjust the width as needed */
    height: auto;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.director-movie-image img {
    width: 100%;
    height: auto;
    display: block;
}

/* Actor movie item styles */
.actor-movie {
    display: inline-block; /* Set to inline-block */
    margin-right: 20px; /* Add some margin between movies */
    vertical-align: top; /* Align to the top of the line */
    cursor: pointer;
}

/* Actor movie image styles */
.actor-movie-image {
    width: 200px; /* Adjust the width as needed */
    height: auto;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.actor-movie-image img {
    width: 100%;
    height: auto;
    display: block;
}
