{% extends "base.html" %}

{% block content %}
<h1>Movies Directed by {{ director.name }}</h1>
<div class="movies">
    {% for movie in movies %}
        <div class="director-movie">
            <a href="{{ url_for('movie_detail', movie_id=movie.id) }}">
                <div class="director-movie-image">
                    <img src="{{ movie.poster }}" alt="{{ movie.title }}">
                </div>
                <h3 class="movie-title">{{ movie.title }}</h3> 
        </div>
    {% endfor %}
</div>
{% endblock %}
